{
  parser: "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  globals: {
    "window": true,
    "document": true
  },
  "rules": {
    "linebreak-style": 0,
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "no-console": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "class-methods-use-this": "off"
  }
}